Hi, This is Custom Index File.

Executing on Machine IP : {{ ansible_all_ipv4_addresses | default('No IP found') }}

This is OS Family : {{ ansible_os_family }}

This Machine FQDN is : {{ ansible_fqdn }}

This is Distro : {{ ansible_distribution }} and BIOS : {{ ansible_bios_version }}

Hard Coded Variable : {{ custom_var }}
